h2 {
  font-size: 30px;
}

h6{
  font-size: 14px;
}

img{
  max-width: 100%;
}

.main-header {
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: #fff;
}

.content-main {
  padding: 30px 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #141432;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-brand {
    background-color: #3BB77E;
    border: 0;
    color: #fff;
}

.btn-primary {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px;
  color: #ffffff;
  border: none;
  background-color: #3bb77e;
  border-radius: 4px;
}

.btn-sm {
  padding: 5px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  color: red;
  box-shadow: none;
  border: 1px solid #eee;
  border-radius: 10px;
  transition-duration: 0.3s;
  overflow: hidden;
}

.card-header {
  padding: 1.3rem 1.3rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(222, 226, 230, 0.7);
  &:first-child{
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: 1.3rem 1.3rem;
}

.itemside {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  color: initial;
  text-decoration: none;
  .left {
    position: relative;
    flex-shrink: 0;
  }

  .info {
    padding-left: 15px;
    padding-right: 7px;
  }

  .title {
    display: block;
    margin-bottom: 5px;
}
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  appearance: none;
  box-shadow: 0;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  background-color: #f4f5f9;
  border: 2px solid #f4f5f9;
  font-size: 13px;
  color: #4f5d77;
  border-radius: 4px;
  height: 41px;
}

.pagination{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.pagination-area .page-item {
  margin: 0 5px;
}

.pagination-area .page-item:first-child {
  margin-left: 0;
}

.pagination-area .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination-area .page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pagination-area .page-item.active .page-link,
.pagination-area .page-item:hover .page-link {
  color: #fff;
  background: #3bb77e;
}

.pagination-area .page-item .page-link {
  border: 0;
  padding: 0 10px;
  box-shadow: none;
  outline: 0;
  width: 34px;
  height: 34px;
  display: block;
  border-radius: 4px;
  background: #e9ecee;
  line-height: 34px;
  text-align: center;
  font-size: 13px;
  color: #383e50;
}

.pagination-area .page-item .page-link.dot {
  background-color: transparent;
  color: #adb5bd;
  letter-spacing: 2px;
}

.pagination-area .page-item .page-link:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination-area .page-item .page-link:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-striped-color: #141432;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #141432;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #141432;
  --bs-table-hover-bg: rgba(49, 103, 235, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: middle;
  border-color: rgba(108, 117, 125, 0.25);
  font-size: 13px;
  color: #495058 !important;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    vertical-align: bottom;
    background: #f7f8f9;
    font-weight: 600;
  }

  tbody {
    vertical-align: inherit;
  }
}

.table-responsible {
  overflow-x: auto;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
}

.table > :not(caption) > * > * {
  padding: 0.8rem 0.4rem;
  vertical-align: middle;
}

.text-end {
  text-align: right !important;
}

.text-muted {
  color: #adb5bd !important;
}

.rounded {
  border-radius: 4px !important;
}

.me-auto{
  margin-right: auto !important;
}

.mt-15{
  margin-top: 15px !important;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.img-avatar {
  border-radius: 100%;
  border: 3px solid #fff;
}

.img-sm {
  width: 60px;
  height: 60px;
}

.mb-0{
  margin-bottom: 0 !important;
}

.mb-4{
  margin-bottom: 1.5rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.g-3, .gx-3 {
  --bs-gutter-x: 1rem;
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .img-style {
    height: 210px;
    width: 291px;
    display: block;
    box-sizing: border-box;
  }
}

@media (max-width: 1200px) {
  .main-wrap {
    margin-left: 220px;
  }
}

